@import '_variables';

.button {
    display: flex;
    flex-direction: row-reverse;

    &__expandFullScreen:hover{
            color:$logo-blue;
    }

    &__exitFullScreen:hover{
        color:$logo-blue
    }

}

.button__icon {
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}