@import '_variables';
@import '_bootstrap_variables';

.button__container{
    min-width: 4em;
    height:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $btn-padding-x;
}

.button {
    &__text{
        font-size: $btn-font-size;
    }

    &__icon:hover{
        color:$logo-blue
    }
}

.button__icon {
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}