@import '_variables';

.simpleTable {
  &__expansion {
    width: 3em;
    padding: 0 0 0 0.5em;

    &--rotateOpen {
      display: inline-block;
      transform: rotate(90deg);
      transition: transform 0.2s;
    }
  }

  &__group {
    text-align: center;
    background-color: #F6F7F8;
    border-bottom: 0;

    &--border {
      border-left: 1px solid $grey10;
    }
  }
}
