@import '_variables';

table {
  position: relative;
  overflow: visible; 

  //WIP
  td:first-of-type {
    position: sticky;
    z-index: 1;
    left:0;
    top: auto;
  }
  
  th {
    z-index: 1;
    position: sticky;
    top:0;
    background: beige;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);

  }
}

.simpleTable__container{
    background-color: $white;
    width: inherit;
    height: inherit;

    transition: 
      width .4s ease-out,
      height .3s ease-out;
  
  &--fullscreen{
    background-color: $white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0%;
    left:0%;
    width: 100vw;
    height: 100vh;
    max-width: 100%; //100vw includes scrollbar area, this deals with it

    transition: 
      width 1s ease-out,
      height 1s ease-out;
  }
}

.simpleTable__scroller--container{
  overflow-x: scroll;
  overflow-y: visible;
}

.simpleTable__button--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.simpleTable {
  &__expansion {
    width: 3em;
    padding: 0 0 0 0.5em;

    &--rotateOpen {
      display: inline-block;
      transform: rotate(90deg);
      transition: transform 0.2s;
    }
  }

  &__group {
    text-align: center;
    background-color: #F6F7F8;
    border-bottom: 0;

    &--border {
      border-left: 1px solid $grey10;
    }
  }
}
