@import '_variables';

.test0{
  width: 600px;
  margin-left: 200px;
}
.test {
  height: 200px;
}
.simpleTable__container{
    width: inherit;
    height: inherit;

    transition: 
      width .2s ease-out,
      height .2s ease-out;

  &--fullscreen{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    max-width: 100%; //100vw includes scrollbar area, this deals with it

    transition: 
      width .5s ease-out,
      height .5s ease-out;
      
    //animation: 10s linear expand;
  }

  //WIP: I think we need to use keyframes
  @keyframes expand {
    to{

    } 
    from {

    }
  }
}

.simpleTable {
  &__expansion {
    width: 3em;
    padding: 0 0 0 0.5em;

    &--rotateOpen {
      display: inline-block;
      transform: rotate(90deg);
      transition: transform 0.2s;
    }
  }

  &__group {
    text-align: center;
    background-color: #F6F7F8;
    border-bottom: 0;

    &--border {
      border-left: 1px solid $grey10;
    }
  }
}
